@font-face {
  font-family: "Arial Narrow";
  src: url("/assets/fonts/arial-narrow.woff2") format("woff2");
  font-display: swap;
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--main-bg);
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  min-width: 320px;
  position: relative;
  margin: 0;
  user-select: none;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:active,
:focus:not(:focus-visible) {
  outline: none;
}

a,
button {
  transition: 0.15s ease-in-out;
  transition-property: color, border-color, background-color, opacity,
    box-shadow;
}

button {
  border: none;
  background: none;
  padding: 0;
}

img {
  vertical-align: middle;
  border: none;
  height: auto;
}

.link-btn {
  border-bottom: 1px solid;
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  border: 1px solid var(--accent);
  background: var(--accent);
  color: var(--dark-grey);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 52px;
  border-radius: 9px;
}

.btn:active {
  border-color: var(--accent-light);
  background: var(--accent-light);
  color: var(--black);
}

body,
#root,
.app,
.game {
  height: 100vh;
  height: 100svh;
  position: relative;
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup__bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 30%);
  z-index: 1001;
}

.popup__window {
  position: relative;
  z-index: 1002;
  width: 100%;
  max-width: 400px;
  padding: 32px;
  border-radius: 16px;
  text-align: center;
  margin: auto;
  background: var(--black);
  border: 1px solid rgb(255 255 255 / 40%);
}

.popup__window-icon {
  font-size: 64px;
}

.color-error {
  color: var(--red);
}

.game__screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--main-bg);
  overflow: hidden;
}

.game__screen-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.game__screen-bg:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -680px 0 0 -604px;
  width: 1200px;
  height: 1200px;
  background: url("/assets/images/start-bg.svg") 0 0 no-repeat;
  background-size: 100% 100%;
  animation: rotate 10s linear 0s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.game__screen-bg:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 4px 240px 0 #000;
  background: rgba(0, 0, 0, 0.01);
}

.game__screen-inner {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

@supports not selector(::-webkit-scrollbar) {
  .game__screen-inner {
    scrollbar-color: var(--accent) transparent;
    scrollbar-width: thin;
  }
}

@supports selector(::-webkit-scrollbar) {
  .game__screen-inner::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }

  .game__screen-inner::-webkit-scrollbar-track {
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: transparent;
    border-radius: 10px;
  }

  .game__screen-inner::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: var(--accent);
    border-radius: 10px;
  }
}

.game__start-screen .game__screen-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__start-screen-content {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 23px;
  padding-bottom: 10px;
  position: relative;
}

.game__start-screen img {
  width: 76px;
  height: 76px;
}

.game__start-screen h1 {
  font-family: inherit;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.15;
  margin: 0;
}

.game__start-screen .btn {
  margin-top: 10px;
}

.game__start-screen-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 67px;
  bottom: min(67px, 9vh);
  font-size: 11px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 10px;
}

.game__start-screen-bottom svg {
  width: 23px;
  height: 20px;
  color: var(--accent);
}

.game__levels-screen .game__screen-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__levels-screen-content {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
  padding: 18px 0;
}

.game__lavel-thumb {
  display: block;
  cursor: pointer;
  position: relative;
  width: 100%;
  max-width: 242px;
  border-radius: 10px;
  background: var(--main-bg);
  color: #fff;
}

.game__lavel-thumb:before {
  content: "";
  display: block;
  padding-top: calc(132 * 100% / 242);
}

.game__lavel-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.game__lavel-header {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 18px;
  line-height: 1.15;
}

.game__lavel-title {
  font-size: 16px;
  white-space: nowrap;
}

.game__lavel-name {
  font-size: 26px;
  width: min-content;
}

.game__lavel-stars {
  position: absolute;
  right: 6px;
  top: 6px;
}

.game__lavel-stars .lives {
}

.game__lavel-stars .lives__item:not(.is-active) {
  color: #797979;
}

.game__lavel-stars .lives__item.is-active {
}

.game__lavel-thumb:not([data-active="true"])[data-clicked="true"] {
  animation: shake 0.5s ease;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

.game__lavel-thumb:not([data-active="true"]) {
  color: #cbcbcb;
  cursor: default;
}

.game__lavel-thumb:not([data-active="true"]) .game__lavel-image {
  filter: saturate(0);
}

.game__lavel-thumb:not([data-active="true"]):after {
  content: "";
  width: 49px;
  height: 45px;
  position: absolute;
  right: -7px;
  top: -6px;
  background-image: url("data:image/svg+xml,%3Csvg width='49' height='45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 15.577c0-1.236.667-2.38 1.75-2.998a3.533 3.533 0 0 1 3.5 0A3.455 3.455 0 0 1 28 15.578v1.73h-7v-1.73Z' fill='%23F3C915'/%3E%3Cpath d='M3.5 0h42c.928 0 1.818.365 2.475 1.014A3.442 3.442 0 0 1 49 3.462v31.153c0 .918-.369 1.799-1.025 2.448a3.52 3.52 0 0 1-2.475 1.014H42v5.192a1.712 1.712 0 0 1-.272.921 1.747 1.747 0 0 1-.725.637 1.662 1.662 0 0 1-.753.173 1.762 1.762 0 0 1-1.085-.38l-8.277-6.543H3.5a3.519 3.519 0 0 1-2.475-1.014A3.442 3.442 0 0 1 0 34.615V3.462c0-.919.369-1.799 1.025-2.448A3.52 3.52 0 0 1 3.5 0Zm12.25 25.962c0 .459.184.899.512 1.223.328.325.774.507 1.237.507h14c.464 0 .91-.182 1.238-.507a1.72 1.72 0 0 0 .512-1.223v-6.924c0-.459-.184-.899-.512-1.224a1.76 1.76 0 0 0-1.238-.507v-1.73A6.91 6.91 0 0 0 28 9.58a7.067 7.067 0 0 0-7 0 6.91 6.91 0 0 0-3.5 5.996v1.73c-.464 0-.91.183-1.237.508a1.723 1.723 0 0 0-.513 1.223v6.924Z' fill='%23F3C915'/%3E%3C/svg%3E");
  filter: drop-shadow(-1px 9px 7px rgba(0, 0, 0, 0.25));
}

.game__screen-image {
  width: 277px;
  height: 277px;
}

.game__screen-image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.game__win-screen {
  background-image: url("/assets/images/win-bg.svg");
}

.game__loss-screen {
  background-image: url("/assets/images/loss-bg.svg");
}

.game__win-screen,
.game__loss-screen {
  background-position: center top;
  background-repeat: no-repeat;
}

@media (min-height: 800px) {
  .game__win-screen,
  .game__loss-screen {
    background-position: center bottom;
  }
}

.game__win-screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__win-screen .game__screen-image {
  margin: 24px 0 80px;
}

.game__win-screen h2 {
  font-family: inherit;
  font-weight: bold;
  font-size: 69px;
  line-height: 1.15;
  margin: 0 0 17px;
  color: var(--accent);
}

.game__win-screen .btn {
  margin-bottom: 20px;
}

.game__loss-screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__loss-screen .game__screen-image {
  margin: 35px 0 50px;
}

.game__loss-screen h2 {
  font-family: inherit;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.15;
  margin: 0 0 30px;
}

.game__play-screen {
  display: flex;
  flex-direction: column;
  background: var(--dark-grey);
}

.game__play-screen-loader,
.play-help-bg {
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.15s ease-in-out;
}

.play-help-bg {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

.game__play-screen-loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 630px;
  height: 630px;
  margin: -315px 0 0 -315px;
  animation: rotate 25s linear infinite;
}

.game__play-screen-loader-circle img {
  display: block;
  width: 100%;
  height: 100%;
}

.game__play-screen-loader-content,
.play-help-bg__content {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: -10px;
}

.game__play-screen-loader-icon-0,
.game__play-screen-loader-icon-1,
.game__play-screen-loader-icon-2,
.play-help-bg__icon-1,
.play-help-bg__icon-2,
.play-help-bg__icon-3 {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.game__play-screen-loader-icon-0 {
  bottom: 100%;
  margin-bottom: 27px;
}

.game__play-screen-loader-icon-1,
.game__play-screen-loader-icon-2 {
  top: 100%;
  text-align: center;
  margin-top: 20px;
  animation: anim 7s ease-in-out infinite;
}

.play-help-bg__icon-1,
.play-help-bg__icon-2,
.play-help-bg__icon-3 {
  bottom: 100%;
  text-align: center;
  animation: anim 7s ease-in-out infinite;
}

.play-help-bg__icon-1 {
  margin-bottom: 87px;
  padding-right: 43px;
}

.play-help-bg__icon-2 {
  margin-bottom: 42px;
  padding-left: 50px;
}

.play-help-bg__icon-3 {
  margin-bottom: 17px;
  padding-right: 37px;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(25%);
  }
}

.game__play-screen-loader-icon-1 {
  display: flex;
  justify-content: center;
  column-gap: 90px;
}

.game__play-screen-loader-icon-0 img {
  width: 103px;
  height: 90px;
}

.game__play-screen-loader-icon-1 img {
  width: 40px;
  height: 63px;
}

.game__play-screen-loader-icon-2 img {
  width: 85px;
  height: 136px;
}

.play-help-bg__icon-1 img {
  width: 40px;
  height: 63px;
}

.play-help-bg__icon-2 img {
  width: 75px;
  height: 119px;
}

.play-help-bg__icon-3 img {
  width: 44px;
  height: 43px;
}

.game__play-screen-loader-title,
.play-help-bg__title {
  position: relative;
  z-index: 1;
  font-family: inherit;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.15;
  margin: 0;
}

.game__play-screen-header {
  flex-shrink: 0;
  padding: 16px;
  background: var(--black);
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.game__play-screen-title {
  flex-shrink: 0;
  padding: 16px;
  background: var(--black);
  text-align: center;
  position: relative;
}

.game__play-screen-title-icon {
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: var(--accent-2);
  font-size: 18px;
}

.progress {
  flex-grow: 1;
  min-width: 1px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  white-space: nowrap;
}

.progress__text {
  font-family: "Arial Narrow", sans-serif;
  font-size: 16px;
}

.progress__row {
  flex-grow: 1;
  min-width: 1px;
  border-radius: 10px;
  overflow: hidden;
  background: var(--dark-grey);
}

.progress__line {
  display: block;
  height: 5px;
  background: var(--accent-2);
  border-radius: 10px;
}

.lives {
  display: flex;
  column-gap: 2px;
  font-size: 16px;
  line-height: 1;
}

.lives__item {
  color: var(--dark-grey);
}

.lives__item.is-active {
  color: var(--accent-2);
}

.lives svg {
  display: block;
}

.game__play-equalizer {
  flex-shrink: 0;
  height: 55px;
  background: var(--black);
  position: relative;
}

.game__play-equalizer:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 1px solid var(--white);
}

.game__play-equalizer-left,
.game__play-equalizer-right {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background-position: 0 0;
  background-size: 818px 100%;
  background-repeat: repeat-x;
}

.game__play-screen[data-ready="true"] .game__play-equalizer-left,
.game__play-screen[data-ready="true"] .game__play-equalizer-right {
  animation: equalizer 40s linear 0.5s infinite;
}

.game__play-equalizer-left {
  left: 0;
  background-image: url("/assets/images/eq-left.png");
}

.game__play-equalizer-right {
  left: 50%;
  background-image: url("/assets/images/eq-right.png");
}

@keyframes equalizer {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -818px 0;
  }
}

.game__play-screen-content {
  flex-grow: 1;
  min-height: 1px;
  display: flex;
  align-items: center;
}

.game-play {
  width: 100%;
  height: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  text-align: center;
  font-size: 10px;
}

@media (max-height: 749px) {
  .game-play {
    font-size: 9px;
  }
}

@media (max-height: 679px) {
  .game-play {
    font-size: 8px;
  }
}

@media (max-height: 629px) {
  .game-play {
    font-size: 7px;
  }
}

@media (max-height: 569px) {
  .game-play {
    font-size: 6px;
  }
}

@media (max-height: 519px) {
  .game-play {
    font-size: 5px;
  }
}

@media (max-height: 449px) {
  .game-play {
    font-size: 4px;
  }
}

@media (max-height: 399px) {
  .game-play {
    font-size: 3px;
  }
}

.game-play__column {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

.game-play__column_left {
  --color: var(--green);
  border-right: 1px solid #3c3c3c;
}

.game-play__column_right {
  --color: var(--blue);
  border-left: 1px solid #1f1f1f;
}

.game-play__column-inner {
  flex-grow: 1;
  min-height: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 59em;
}

.game-play__column-header {
  flex-shrink: 0;
  margin-bottom: 1.4em;
}

.game-play__column-title {
  font-size: 2.3em;
  line-height: 1.2;
  margin: 0;
}

.game-play__column-content {
  flex-grow: 1;
  min-height: 1px;
  display: flex;
  flex-direction: column;
  width: 11.4em;
  border-radius: 10em;
  background: var(--dark-grey-2);
  padding: 2.4em 0;
  row-gap: 3em;
}

.panel-row_type_fader {
  flex-grow: 1;
  min-height: 1px;
}

.game-play__column-footer {
  flex-shrink: 0;
  margin-top: 1.8em;
}

.panel-row {
  position: relative;
}

.panel-row__timer-wrapper,
.panel-row__timer,
.panel-row__timer-graph {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.panel-row__timer-graph svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0.3em;
}

.panel-row__timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial Narrow", sans-serif;
  font-size: 4em;
  line-height: 1;
  color: var(--color);
}

.panel-fader__handler .panel-row__timer {
  font-size: 2.4em;
}

.panel-fader__handler .panel-row__timer-graph {
  display: none;
}

.panel-row__timer-wrapper.is-hidden,
.panel-row__timer-wrapper:not(.is-hidden) ~ .panel-row__timer-wrapper,
.panel-eq-btn
  .panel-row__timer-wrapper:not(.is-hidden)
  ~ .panel-eq-btn__icon
  .panel-eq-btn__title,
.panel-play-btn .panel-row__timer-wrapper:not(.is-hidden) ~ svg {
  display: none !important;
}

.panel-eq-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.6em;
  height: 8.6em;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.panel-eq-btn__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.panel-eq-btn__circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0.3em solid;
  border-radius: 50%;
  transition: transform 0.15s ease-in-out;
}

.panel-eq-btn_value_down .panel-eq-btn__circle {
  transform: rotate(-150deg);
}

.panel-eq-btn__circle > span {
  content: "";
  position: absolute;
  width: 0.6em;
  height: 1.8em;
  border-radius: 0.1em;
  background: var(--accent-2);
  left: calc(50% - 0.3em);
  top: -1.4em;
  box-shadow: 0 0 0 0.3em var(--dark-grey-2);
}

.panel-eq-btn__title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  padding-bottom: 0.1em;
}

.panel-play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.4em;
  height: 11.4em;
  position: relative;
  z-index: 1;
  border-radius: 50%;
}

.panel-play-btn:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0.3em solid;
  border-radius: 50%;
}

.panel-play-btn > svg {
  width: 3.7em;
  height: 3.7em;
  color: var(--color);
}

.panel-fader {
  display: block;
  position: relative;
  height: 100%;
  width: 8.6em;
  margin: 0 auto;
}

.panel-fader__line {
  width: 0.6em;
  height: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 1em;
  background: linear-gradient(to right, #1f1f1f, #424242);
}

.panel-fader__line:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 1px;
  border-radius: 1em;
  background: #181818;
}

.panel-fader__handler {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.6em;
  height: 3em;
  background: none;
  border: 0.3em solid var(--color);
  border-radius: 2em;
  position: absolute;
  left: 50%;
  margin: -1.5em -4.3em;
  transition: 0.15s ease-in-out;
}

.game-play__column_left .panel-fader__handler {
  background-color: #333f2f;
}

.game-play__column_right .panel-fader__handler {
  background-color: #32414b;
}

.panel-row.is-error .panel-eq-btn,
.panel-row.is-error .panel-play-btn,
.panel-row.is-error .panel-fader {
  --color: var(--red);
  color: var(--red);
}

.play-help-tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8em;
  text-align: center;
  pointer-events: none;
}

.play-help-tooltip:before {
  content: "";
  display: block;
  width: 2.6em;
  height: 2.6em;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.play-help-tooltip > span {
  font-size: 1.6em;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
}

.panel-row_type_rotate .play-help-tooltip {
  top: 50%;
}

.panel-row_type_fader .play-help-tooltip,
.panel-row_type_play .play-help-tooltip {
  bottom: 50%;
}

.game-play__column_left .play-help-tooltip {
  left: 100%;
  align-items: flex-start;
}

.game-play__column_right .play-help-tooltip {
  right: 100%;
  align-items: flex-end;
}

.game-play__column_right .panel-row_type_rotate .play-help-tooltip {
  margin: -0.5em 1.4em 0 0;
}

.game-play__column_left .panel-row_type_rotate .play-help-tooltip {
  margin: -0.5em 0 0 1.4em;
}

.game-play__column_right .panel-row_type_fader .play-help-tooltip {
  margin: 0 2.5em -0.6em 0;
}

.game-play__column_left .panel-row_type_fader .play-help-tooltip {
  margin: 0 0 -0.6em 2.5em;
}

.game-play__column_right .panel-row_type_play .play-help-tooltip {
  margin: 0 2.5em -0.6em 0;
}

.game-play__column_left .panel-row_type_play .play-help-tooltip {
  margin: 0 0 -0.6em 2.5em;
}

.game-play__column_right .panel-row_type_rotate .play-help-tooltip:before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' fill='%23F3C915' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.712 6.84a1.061 1.061 0 0 1 0 1.453l-6.252 6.54a.952.952 0 0 1-1.39 0 1.061 1.061 0 0 1 0-1.454l4.576-4.785h-4.038C9.416 8.594 1.965 16.387 1.965 26H0C0 15.252 8.331 6.539 18.608 6.539h4.038L18.07 1.754a1.061 1.061 0 0 1 0-1.453.952.952 0 0 1 1.39 0l6.252 6.539Z'/%3E%3C/svg%3E");
}

.game-play__column_left .panel-row_type_rotate .play-help-tooltip:before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' fill='%23F3C915' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.282 8.293a1.078 1.078 0 0 1 0-1.453L6.4.301a.918.918 0 0 1 1.36 0 1.078 1.078 0 0 1 0 1.453L3.281 6.54h4.51C17.848 6.539 26 15.252 26 26h-1.923c0-9.613-7.291-17.406-16.285-17.406h-4.51L7.76 13.38a1.078 1.078 0 0 1 0 1.453.918.918 0 0 1-1.36 0L.283 8.293Z'/%3E%3C/svg%3E");
}

.game-play__column_right .panel-row_type_fader .play-help-tooltip:before,
.game-play__column_right .panel-row_type_play .play-help-tooltip:before {
  order: 1;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' fill='%23F3C915' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.14 19.509C8.007 19.389-.113 10.655 0 0l1.937.023c-.1 9.53 7.163 17.342 16.224 17.449l4.543.053-4.46-4.796a1.056 1.056 0 0 1 .016-1.441.935.935 0 0 1 1.37.016l6.094 6.555a1.056 1.056 0 0 1-.015 1.44l-6.233 6.41a.935.935 0 0 1-1.37-.015 1.056 1.056 0 0 1 .016-1.441l4.56-4.69-4.543-.054Z'/%3E%3C/svg%3E");
}

.game-play__column_left .panel-row_type_fader .play-help-tooltip:before,
.game-play__column_left .panel-row_type_play .play-help-tooltip:before {
  order: 1;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' fill='%23F3C915' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.341 17.41c9.156 0 16.607-7.764 16.71-17.41L26 .023c-.115 10.772-8.435 19.44-18.659 19.44H3.328l4.54 4.784c.38.4.38 1.051 0 1.452a.94.94 0 0 1-1.379 0L.286 19.163a1.067 1.067 0 0 1 0-1.453l6.203-6.536a.94.94 0 0 1 1.379 0c.38.4.38 1.051 0 1.452l-4.54 4.783h4.013Z'/%3E%3C/svg%3E");
}

.panel-row:has(.play-help-tooltip) ~ .panel-row .play-help-tooltip,
.game-play__column:has(.play-help-tooltip)
  ~ .game-play__column
  .play-help-tooltip {
  opacity: 0;
  visibility: hidden;
}

.panel-row.is-visible .panel-eq-btn:before,
.panel-row.is-visible .panel-play-btn:before,
.panel-row.is-visible .panel-fader__handler:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -1.4em;
  z-index: -1;
  background: var(--dark-grey);
  border-radius: 1000px;
}

.panel-row.is-visible {
  z-index: 1001;
}

.panel-row__timer-graph {
  --stroke: var(--dark-grey-2);
}

.panel-row.is-visible .panel-row__timer-graph,
.panel-play-btn .panel-row__timer-graph {
  --stroke: var(--dark-grey);
}
