@font-face {
  font-family: "Arial Narrow";
  src: url("/assets/fonts/arial-narrow.woff2") format("woff2");
  font-display: swap;
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--main-bg);
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  min-width: 320px;
  position: relative;
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:active,
:focus:not(:focus-visible) {
  outline: none;
}

a,
button {
  transition: 0.15s ease-in-out;
  transition-property: color, border-color, background-color, opacity,
    box-shadow;
}

button {
  border: none;
  background: none;
  padding: 0;
}

img {
  vertical-align: middle;
  border: none;
  height: auto;
}

.link-btn {
  border-bottom: 1px solid;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  border: 1px solid var(--accent);
  background: var(--accent);
  color: var(--dark-grey);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 52px;
  border-radius: 9px;
}

.btn:active {
  border-color: var(--accent-light);
  background: var(--accent-light);
  color: var(--black);
}

body,
#root,
.app,
.game {
  height: 100vh;
  height: 100svh;
  position: relative;
}

.game__screen,
.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup__bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 30%);
  z-index: 1001;
}

.popup__window {
  position: relative;
  z-index: 1002;
  width: 100%;
  max-width: 400px;
  padding: 32px;
  border-radius: 16px;
  text-align: center;
  margin: auto;
  background: var(--black);
  border: 1px solid rgb(255 255 255 / 40%);
}

.popup__window-icon {
  font-size: 64px;
}

.color-error {
  color: var(--red);
}

.game__screen {
  background-color: var(--main-bg);
}

.game__start-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__start-screen-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.game__start-screen-bg:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -680px 0 0 -604px;
  width: 1200px;
  height: 1200px;
  background: url("/assets/images/start-bg.svg") 0 0 no-repeat;
  background-size: 100% 100%;
  animation: rotate 10s linear 0s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.game__start-screen-bg:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 4px 240px 0 #000;
  background: rgba(0, 0, 0, 0.01);
}

.game__start-screen-content {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 23px;
  padding-bottom: 10px;
  position: relative;
}

.game__start-screen img {
  width: 76px;
  height: 76px;
}

.game__start-screen h1 {
  font-family: inherit;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.15;
  margin: 0;
}

.game__start-screen .btn {
  margin-top: 10px;
}

.game__screen-image {
  width: 277px;
  height: 277px;
}

.game__screen-image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.game__win-screen {
  background-image: url("/assets/images/win-bg.svg");
}

.game__loss-screen {
  background-image: url("/assets/images/loss-bg.svg");
}

.game__win-screen,
.game__loss-screen {
  background-position: center top;
  background-repeat: no-repeat;
}

@media (min-height: 800px) {
  .game__win-screen,
  .game__loss-screen {
    background-position: center bottom;
  }
}

.game__win-screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__win-screen .game__screen-image {
  margin: 24px 0 80px;
}

.game__win-screen h2 {
  font-family: inherit;
  font-weight: bold;
  font-size: 69px;
  line-height: 1.15;
  margin: 0 0 17px;
  color: var(--accent);
}

.game__win-screen .btn {
  margin-bottom: 20px;
}

.game__loss-screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__loss-screen .game__screen-image {
  margin: 35px 0 50px;
}

.game__loss-screen h2 {
  font-family: inherit;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.15;
  margin: 0 0 30px;
}

.game__play-screen {
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--dark-grey);
}

.game__play-screen-header {
  flex-shrink: 0;
  padding: 16px;
  background: var(--black);
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.game__play-screen-title {
  flex-shrink: 0;
  padding: 16px;
  background: var(--black);
  text-align: center;
  position: relative;
}

.game__play-screen-title-icon {
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: var(--accent-2);
  font-size: 18px;
}

.progress {
  flex-grow: 1;
  min-width: 1px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  white-space: nowrap;
}

.progress__text {
  font-family: "Arial Narrow", sans-serif;
  font-size: 16px;
}

.progress__row {
  flex-grow: 1;
  min-width: 1px;
  border-radius: 10px;
  overflow: hidden;
  background: var(--dark-grey);
}

.progress__line {
  display: block;
  height: 5px;
  background: var(--accent-2);
  border-radius: 10px;
}

.lives {
  display: flex;
  column-gap: 2px;
  font-size: 16px;
  line-height: 1;
}

.lives__item {
  color: var(--dark-grey);
}

.lives__item.is-active {
  color: var(--accent-2);
}

.lives svg {
  display: block;
}

.game__play-equalizer {
  flex-shrink: 0;
  height: 55px;
  background: var(--black);
  position: relative;
}

.game__play-equalizer:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 1px solid var(--white);
}

.game__play-equalizer-left,
.game__play-equalizer-right {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background-position: 0 0;
  background-size: 818px 100%;
  background-repeat: repeat-x;
  animation: equalizer 40s linear 0s infinite;
}

.game__play-equalizer-left {
  left: 0;
  background-image: url("/assets/images/eq-left.png");
}

.game__play-equalizer-right {
  left: 50%;
  background-image: url("/assets/images/eq-right.png");
}

@keyframes equalizer {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -818px 0;
  }
}

.game__play-screen-content {
  flex-grow: 1;
  min-height: 1px;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.game-play {
  width: 100%;
  height: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  text-align: center;
  font-size: 10px;
}

@media (max-height: 749px) {
  .game-play {
    font-size: 9px;
  }
}

@media (max-height: 679px) {
  .game-play {
    font-size: 8px;
  }
}

@media (max-height: 629px) {
  .game-play {
    font-size: 7px;
  }
}

@media (max-height: 569px) {
  .game-play {
    font-size: 6px;
  }
}

@media (max-height: 519px) {
  .game-play {
    font-size: 5px;
  }
}

@media (max-height: 449px) {
  .game-play {
    font-size: 4px;
  }
}

@media (max-height: 399px) {
  .game-play {
    font-size: 3px;
  }
}

.game-play__column {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

.game-play__column_left {
  --color: var(--green);
  border-right: 1px solid #3c3c3c;
}

.game-play__column_right {
  --color: var(--blue);
  border-left: 1px solid #1f1f1f;
}

.game-play__column-inner {
  flex-grow: 1;
  min-height: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 59em;
}

.game-play__column-header {
  flex-shrink: 0;
  margin-bottom: 1.4em;
}

.game-play__column-title {
  font-size: 2.3em;
  line-height: 1.2;
  margin: 0;
}

.game-play__column-content {
  flex-grow: 1;
  min-height: 1px;
  display: flex;
  flex-direction: column;
  width: 11.4em;
  border-radius: 10em;
  background: var(--dark-grey-2);
  padding: 2.4em 0;
  row-gap: 3em;
}

.panel-row_type_fader {
  flex-grow: 1;
  min-height: 1px;
}

.game-play__column-footer {
  flex-shrink: 0;
  margin-top: 1.8em;
}

.panel-row {
  position: relative;
}

.panel-row__timer-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.2em;
  text-align: center;
}

.panel-row__timer {
  font-family: "Arial Narrow", sans-serif;
  font-size: 1.6em;
  line-height: 1;
  color: var(--color);
}

.panel-row__timer + .panel-row__timer {
  display: none !important;
}

.panel-eq-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.6em;
  height: 8.6em;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.panel-eq-btn__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.panel-eq-btn__circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0.3em solid;
  border-radius: 50%;
  transition: transform 0.15s ease-in-out;
}

.panel-eq-btn_value_down .panel-eq-btn__circle {
  transform: rotate(-150deg);
}

.panel-eq-btn__circle > span {
  content: "";
  position: absolute;
  width: 0.6em;
  height: 1.8em;
  border-radius: 0.1em;
  background: var(--accent-2);
  left: calc(50% - 0.3em);
  top: -1.4em;
  box-shadow: 0 0 0 0.3em var(--dark-grey-2);
}

.panel-eq-btn__title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  padding-bottom: 0.1em;
}

.panel-play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.4em;
  height: 11.4em;
  position: relative;
  z-index: 1;
  border: 0.3em solid;
  border-radius: 50%;
}

.panel-play-btn svg {
  width: 3.7em;
  height: 3.7em;
  color: var(--color);
}

.panel-fader {
  display: block;
  position: relative;
  height: 100%;
  width: 8.6em;
  margin: 0 auto;
}

.panel-fader__line {
  width: 0.6em;
  height: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 1em;
  background: linear-gradient(to right, #1f1f1f, #424242);
}

.panel-fader__line:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 1px;
  border-radius: 1em;
  background: #181818;
}

.panel-fader__handler {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.6em;
  height: 3em;
  background: none;
  border: 0.3em solid var(--color);
  border-radius: 2em;
  position: absolute;
  left: 50%;
  margin: -1.5em -4.3em;
}

.game-play__column_left .panel-fader__handler {
  background-color: #333f2f;
}

.game-play__column_right .panel-fader__handler {
  background-color: #32414b;
}

.panel-fader__handler .panel-row__timer-wrapper,
.panel-fader__handler .panel-row__timer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.panel-fader__handler .panel-row__timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-row.is-error .panel-eq-btn,
.panel-row.is-error .panel-play-btn,
.panel-row.is-error .panel-fader {
  --color: var(--red);
  color: var(--red);
}
